@use "variables" as*;
@use "typography" as*;

.blog-posts {
    article {
        background-color: $white;
        padding: $blog-padding;
        margin-bottom: 2rem;

        h2 {
            color: $light-blue;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 500;
            margin: $reset-margin;
        }

        p {
            margin: .5rem 0 2rem 0;
            font-size: .9rem;
            font-size: 1060px;
        }

    }
    
    .older-btn {
        width: 12rem;
    }
}