@use "variables" as *;

.btn-read-wrapper {
  text-align: right;
}

.read-btn {
  color: $white;
  font-weight: bolder;
  font-size: 1.1rem;
  background-color: $light-blue;
  border: none;
  padding: 0.7rem 0.5rem 0.7rem;
  text-align: end;
}
