@use "variables" as *;
@use "typography" as *;
@use "mixins" as *;

.cuisines {
  h2 {
    @include side-bar-heading;
  }
  background-color: $bg-white;

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.45rem;
    list-style: none;
    max-width: fit-content;
  }

  li {
    padding: 0.5rem;
  }

  @media (min-width: $tabletSmall) {
    ul {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: $desktop) {
    ul {
      display: block;
    }
  }
}
