@use "variables" as *;
@use "mixins" as *;

footer {
  background-color: $light-blue;
  color: $white;
  height: 3rem;
  text-align: center;
  font-size: 14px;
  margin-top: 1rem;
  p {
    margin: 0 auto;
    padding: 0.5rem;
    font-family: $header-font;
  }
}
