@use "variables" as *;
@use "typography" as *;
@use "mixins" as *;

.latest-recipes {
  background-color: $bg-white;

  .side-bar-headings {
    @include side-bar-heading;
  }

  .recipe-entry {
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
    padding: 0.5rem;

    img {
      border-left: 0.175rem solid $light-blue;
      border-top: 0.175rem solid $light-blue;
      border-right: 0.1rem solid $light-blue;
      border-bottom: 0.1rem solid $light-blue;
    }

    p {
      text-transform: uppercase;
      margin-left: 0.5rem;
    }
  }

  .recipe-entry:nth-child(odd) {
    background-color: $grey;
  }
}
