@use "variables" as *;

@mixin flex-sb {
  display: flex;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin margin-center {
  margin: 0 auto;
}

@mixin side-bar-heading {
  background-color: $light-blue;
  padding: 1rem;
  color: $text-color-light;
  margin: 0;
}

@mixin body-font {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

@mixin social-flip {
  transform: translateY(1rem);
  transition: transform 0.3s ease-in-out;
}

@mixin social-flip-back {
  transform: translateY(-1.2rem);
  transition: transform 0.3s ease-in-out;
}

@mixin mo-social-flex {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
