@mixin flex-sb {
  display: flex;
  justify-content: space-between;
}

@mixin blog-image-wrapper {
  position: relative;
  width: 100%;
  margin: .625rem auto;
}

@mixin blog-text {
  position: absolute;
  bottom: 0;
  color: white;
  text-transform: capitalize;
  font-size: 1rem;
}
