@use "mixins" as *;

.socials-desktop {
  display: none;
}

nav {
  background-color: white;
  width: 100vw;
  height: 3rem;
  padding: 0.625rem;
  align-items: center;
  @include flex-sb;
}

.dropdown {
  display: none;
}
