@use "mixins" as *;
@use "variables" as *;

.socials-desktop {
  display: none;
}

.mb-nav {
  background-color: white;
  width: 100vw;
  height: 3rem;
  padding: 0.625rem;
  align-items: center;
  @include flex-sb;
  position: relative;
  z-index: 100;
}

.dropdown-menu {
  display: block;
  background-color: $light-blue;
  width: 100%;
  height: 0rem;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  position: relative;
  top: -0.05rem;
  ul {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    li {
      padding: 0.5rem;
      list-style: none;
      border: 1px solid $dark-blue;
      a {
        color: $text-color-light;
        text-decoration: none;
        font-weight: 400;
        font-family: $header-font;
      }
      &:hover {
        background-color: $white;
        transition: background-color 0.3s ease-in-out;
        a {
          color: $dark-blue;
        }
      }
    }
  }
}

.dropdown-menu.show {
  height: 15.75rem;
  position: relative;
  top: -0.05rem;
}

.hb-menu {
  display: block;
  img {
    width: 1.5rem;
  }
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.socials-mobile {
  @include flex-center;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  background-color: $white;
  border: solid 1px $dark-blue;
  @include margin-center;
  height: 3rem;
  overflow: hidden;
  .social-logo {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.facebook {
  @include mo-social-flex;
  @include social-flip;
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .f-blue {
    fill: $light-blue;
  }
  .f-grey {
    fill: $social-grey;
  }
  &:hover {
    @include social-flip-back;
  }
}

.google {
  @include mo-social-flex;
  @include social-flip;
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .g-blue {
    fill: $light-blue;
  }
  .g-grey {
    fill: $social-grey;
  }
  &:hover {
    @include social-flip-back;
  }
}

.twitter {
  @include mo-social-flex;
  @include social-flip;
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .t-blue {
    fill: $light-blue;
  }
  .t-grey {
    fill: $social-grey;
  }
  &:hover {
    @include social-flip-back;
  }
}

.search-container {
  display: block;
  position: relative;
  input {
    width: 100%;
    height: 2rem;
    border: 1px solid $dark-blue;
    font-family: $header-font;
    background-color: $grey-input;
    @include flex-center;
    font-weight: 400;
    font-size: 14px;
    z-index: 1;
  }
  button {
    position: absolute;
    background-color: transparent;
    margin: 0.15rem;
    border: none;
    cursor: pointer;
    top: 0;
    right: 0;
    z-index: 2;
  }
}

#list-search {
  padding: 0;
}
