@use "mixins" as *;
@use "variables" as *;

.socials-desktop {
  display: none;
}

@media (min-width: 20.625em) {
  .logo-src {
    display: block;
  }
}

.sm-tablet-nav {
  display: none;
}

.mb-nav {
  background-color: white;
  height: 3rem;
  padding: 0.625rem;
  align-items: center;
  @include flex-sb;
  position: relative;
  z-index: 100;
  margin: 0 auto;
  gap: 3.75rem;
}

.dropdown-menu {
  display: block;
  background-color: $light-blue;
  width: 100%;
  height: 0rem;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  position: relative;
  top: -0.05rem;
  ul {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    li {
      padding: 0.5rem;
      list-style: none;
      border: 1px solid $dark-blue;
      a {
        color: $text-color-light;
        text-decoration: none;
        font-weight: 400;
        font-family: $header-font;
      }
      &:hover {
        background-color: $white;
        transition: background-color 0.3s ease-in-out;
        a {
          color: $dark-blue;
        }
      }
    }
  }
}

.dropdown-menu.show {
  height: 15.75rem;
  position: relative;
  top: -0.05rem;
}

.hb-menu {
  display: block;
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 2rem;
  }
}

.socials-mobile {
  @include flex-center;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  background-color: $white;
  border: solid 1px $dark-blue;
  @include margin-center;
  height: 3rem;
  overflow: hidden;
  .social-logo {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.facebook {
  @include mo-social-flex;
  @include social-flip;
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .f-blue {
    fill: $light-blue;
  }
  .f-grey {
    fill: $social-grey;
  }
  &:hover {
    @include social-flip-back;
  }
}

.google {
  @include mo-social-flex;
  @include social-flip;
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .g-blue {
    fill: $light-blue;
  }
  .g-grey {
    fill: $social-grey;
  }
  &:hover {
    @include social-flip-back;
  }
}

.twitter {
  @include mo-social-flex;
  @include social-flip;
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .t-blue {
    fill: $light-blue;
  }
  .t-grey {
    fill: $social-grey;
  }
  &:hover {
    @include social-flip-back;
  }
}

.search-container {
  display: block;
  position: relative;
  input {
    width: 100%;
    height: 2rem;
    font-family: $header-font;
    background-color: $grey-input;
    @include flex-center;
    font-weight: 400;
    font-size: 14px;
  }
  button {
    position: absolute;
    background-color: transparent;
    margin: 0.15rem;
    border: none;
    cursor: pointer;
    top: 0;
    right: 0;
    z-index: 2;
  }
}

.bp-500 {
  display: none;
  input {
    width: 100%;
    height: 2rem;
    font-family: $header-font;
    background-color: $grey-input;
    @include flex-center;
    font-weight: 400;
    font-size: 14px;
    border: 0;
    border-radius: 0.25rem;
    padding: 1rem;
  }
}

#list-search {
  padding: 0;
}

//tablet small
@media (min-width: $tabletSmall) {
  .mb-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 3.5rem;
    a {
      grid-column: 1 / 3;
    }
  }

  .dropdown-menu.show {
    display: none;
  }

  .bp-500 {
    display: block;
  }
  .hb-menu {
    display: none;
  }

  .sm-tablet-nav-wrapper {
    width: 100%;
    background-color: $dark-blue;

    .sm-tablet-nav-wrap {
      margin: 0 auto;
      max-width: $max-width;
    }

    .sm-tablet-nav {
      background-color: $light-blue;
      height: 3rem;
      list-style: none;
      @include flex-sb;
      margin: auto 0.625rem;
      padding: 1rem;

      max-width: $max-width;
      a {
        color: $text-color-light;
        text-decoration: none;
        font-weight: 400;
        font-family: $header-font;
      }
    }
  }
}

// Tablet Large
@media (min-width: $tabletLarge) {
  nav {
    background-color: $white;
  }

  .socials-desktop {
    display: block;
    margin: 0;
    .social-logo {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .mb-nav {
    max-width: $desktopMax;
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    .socials-desktop {
      @include flex-sb;
      gap: 1rem;
    }
  }
}
