// colors

$dark-blue: #005a91;
$light-blue: #1b71a9;
$grey: #e9e9e9;
$grey-input: #dedede;
$bg-white: #fff

// text colors
$text-color-light: #fff;
$text-color-dark: #000;
$text-color-blue: #1b71a9;

// layout
$max-width: 66.25rem;
$margin: 0 0.625rem;
$bg-img: url("../images/bg.jpg");

// fonts
@font-face {
  font-family: "Roboto Condensed", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
}

$body-font: "Roboto Light", sans-serif;
$header-font: "Roboto Condensed", sans-serif;
